<style type="text/css">

    .playing-card {
        width: 50px;
        text-align: center;
        margin-right: 10px;
    }

    .playing-card-panel,
    .playing-card-score {
        font-weight: bold;
        width: 50px;
        text-align: center;
    }

    .playing-card-panel {
        background-color: white;
        border: solid 1px silver;
        border-radius: 5px;
        padding: 5px;
        font-size: large;
    }

    .playing-info-number,
    .playing-info-points {
        margin-top: 10px;
        font-weight: bold;
    }

    .wildcard-card {
        margin-left: 15px;
    }

    .wildcard-header {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .wildcard-footer {
        font-weight: bold;
        margin-bottom: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .winning-info {
        text-align: center;
    }

    .suit-match {
        border: solid 2px darkorange;
        padding: 4px;
    }

    .suit-black {
        color: black;
    }

    .suit-red {
        color: red;
    }

    .form-group {
        margin-left: 20px;
        margin-right: 20px;
    }

    .form-control {
        margin-top: 10px;
        width: 150px;
    }
</style>

<div class="panel">
    <h1>Game of Cards</h1>
</div>
<div class="panel">
    <b>Rules</b>
    <ol>
        <li>The dealer draws a wildcard and gives five cards to each player.</li>
        <li>
            The player scores a points total according to the following rules:
            <ol>
                <li>The points for any card are doubled if its suit matches the wildcard suit.</li>
                <li>
                    The points for each kind of card are as follows:
                    <div class="container-fluid">
                        <div *ngFor="let card of ruleCards"
                             class="col-sm-2 playing-card">
                            <div class="playing-card-panel"
                                 [class.suit-black]="card.suit % 2 === 0"
                                 [class.suit-red]="card.suit % 2 === 1">
                                <div>{{ getKindSymbol(card) }}</div>
                                <div>{{ getSuitSymbol(card) }}</div>
                            </div>
                            <div class="playing-card-score">
                                {{card.points}}
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </li>
    </ol>
</div>
<table class="table table-bordered">
    <tr class="panelx">
        <td class="col-sm-3">
            <div class="row">
                <div class="form-group">
                    <label for="playerCount">How many players for Round {{roundNumber}}?</label>
                    <input class="form-control text-right"
                           id="playerCount" type="number" min="1" max="10" required="required"
                           [(ngModel)]="playerCount" />
                    <button class="form-control btn btn-sm btn-primary" (click)="playGame()">
                        Play Round {{roundNumber}}
                    </button>
                </div>
            </div>
        </td>
        <td class="col-sm-6">
            <div *ngIf="wildcard" class="wildcard-header">Wildcard</div>
            <div *ngIf="wildcard" class="wildcard-card playing-card-panel suit-match"
                 [class.suit-black]="wildcard.suit % 2 === 0"
                 [class.suit-red]="wildcard.suit % 2 === 1">
                <div>{{ getKindSymbol(wildcard) }}</div>
                <div>{{ getSuitSymbol(wildcard) }}</div>
            </div>
            <div *ngIf="wildcard" class="wildcard-footer">Wildcard</div>
        </td>
    </tr>
</table>
<div class="panel" *ngIf="playerResults">
    <div class="alert-success modal-body winning-info" *ngIf="winner">
        <span>The <b>winner</b> is <b>Player {{winner.player}}</b> with the <b>high score</b> of <b>{{winner.points}} points</b>.</span>
    </div>
    <div class="alert-warning modal-body winning-info" *ngIf="!winner">
        <span>There is no clear <b>winner</b> because <b>Players {{ getWinningPlayers() }}</b> have <b>equal high scores</b> of <b>{{getWinningPoints()}} points</b>.</span>
    </div>
</div>
<table class="table table-striped table-bordered" *ngIf="playerResults">
    <thead>
        <tr>
            <th class="col-sm-1 text-center">Player</th>
            <th class="col-sm-2 text-center">Cards</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of playerResults; let a = index"
            [class.success]="winner === result">
            <td class="text-center">
                <p class="playing-info-number">
                    <span class="glyphicon" [class.glyphicon-star]="winner === result"></span>
                    &nbsp;{{ getPlayerPlace(a + 1) }}&nbsp;
                    <span class="glyphicon" [class.glyphicon-star]="winner === result"></span>
                </p>
                <p class="playing-info-number">Player {{ result.player }}</p>
                <p class="playing-info-points">{{ result.points }} points</p>
            </td>
            <td>
                <div class="container-fluid">
                    <div *ngFor="let card of result.cards"
                         class="col-sm-2 playing-card">
                        <div class="playing-card-panel"
                             [class.suit-match]="wildcard.suit === card.suit"
                             [class.suit-black]="card.suit % 2 === 0"
                             [class.suit-red]="card.suit % 2 === 1">
                            <div>{{ getKindSymbol(card) }}</div>
                            <div>{{ getSuitSymbol(card) }}</div>
                        </div>
                        <div class="playing-card-score">
                            {{card.points}}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
