<style type="text/css">

    .playing-card {
        width: 50px;
        text-align: center;
        margin-right: 10px;
    }

    .playing-card-panel,
    .playing-card-score {
        width: 50px;
        text-align: center;
    }

    .playing-card-panel {
        background-color: white;
        border: solid 1px silver;
        border-radius: 5px;
        padding: 5px;
        font-weight: bold;
        font-size: large;
    }

    .suit-match {
        border: solid 2px darkorange;
        padding: 4px;
    }

    .suit-black {
        color: black;
    }

    .suit-red {
        color: red;
    }
</style>

<div class="panel">
    <h1>Game of Cards</h1>
</div>
<div class="panel">
    <b>Rules</b>
    <ol>
        <li>The dealer draws a wildcard and gives five cards to each player.</li>
        <li>
            The player scores a points total according to the following rules:
            <ol>
                <li>The points for any card are doubled if its suit matches the wildcard suit.</li>
                <li>
                    The points for each kind of card are as follows:
                    <div class="container-fluid">
                        <div *ngFor="let card of ruleCards"
                             class="col-sm-2 playing-card">
                            <div class="playing-card-panel"
                                 [class.suit-black]="card.suit % 2 === 0"
                                 [class.suit-red]="card.suit % 2 === 1">
                                <div>{{ getKindSymbol(card) }}</div>
                                <div>{{ getSuitSymbol(card) }}</div>
                            </div>
                            <div class="playing-card-score">
                                {{card.points}}
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </li>
    </ol>
</div>
<div class="panel">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="playerCount">How many players for Round {{roundNumber}}?</label>
            <input class="form-control input-sm"
                   id="playerCount" type="number" min="1" max="10" required="required"
                   [(ngModel)]="playerCount" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <button class="btn btn-sm btn-primary" (click)="playGame()">
                Play Round {{roundNumber}}
            </button>
        </div>
    </div>
</div>
<div class="panel" *ngIf="wildcard">
    <div class="alert-info modal-body" *ngIf="wildcard">
        <div class="container-fluid">
            <div class="col-sm-2">
                <div class="playing-card-panel suit-match"
                     [class.suit-black]="wildcard.suit % 2 === 0"
                     [class.suit-red]="wildcard.suit % 2 === 1">
                    <div>{{ getKindSymbol(wildcard) }}</div>
                    <div>{{ getSuitSymbol(wildcard) }}</div>
                </div>
            </div>
            <span>This is the <b>wildcard</b> drawn by the dealer.</span>

        </div>
    </div>
</div>
<div class="panel" *ngIf="winner">
    <div class="alert-success modal-body" *ngIf="winner">
        <span class="glyphicon glyphicon-star">&nbsp;</span>
        <span>The <b>winner</b> is <b>player {{winner.player}}</b> with the <b>top score</b> of <b>{{winner.points}} points</b>.</span>
    </div>
</div>
<table class='table table-striped table-bordered' *ngIf="playerResults">
    <thead>
        <tr>
            <th class="col-sm-1 text-center">Player</th>
            <th class="col-sm-1 text-center">Score</th>
            <th class="col-sm-2 text-center">Cards in Hand</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of playerResults"
            [class.success]="winner === result">
            <td class="text-center">{{ result.player }}</td>
            <td class="text-center">{{ result.points }}</td>
            <td>
                <div class="container-fluid">
                    <div *ngFor="let card of result.cards"
                         class="col-sm-2 playing-card">
                        <div class="playing-card-panel"
                             [class.suit-match]="wildcard.suit === card.suit"
                             [class.suit-black]="card.suit % 2 === 0"
                             [class.suit-red]="card.suit % 2 === 1">
                            <div>{{ getKindSymbol(card) }}</div>
                            <div>{{ getSuitSymbol(card) }}</div>
                        </div>
                        <div class="playing-card-score">
                            {{card.points}}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
